.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 101;
  background-color: white;
  background-image: url("/static/tank.svg");
  background-size: cover;
  justify-content: center;
  align-items: center;
}


.root {
  width: 320px;
  background: rgba(#efefef, .9);
  box-shadow: 0 0 2px #ccc;
  padding: 20px;
  text-align: left;
}

.loginButton {
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}
