@import './base/variables.scss'
\:global .ant-menu-dark .ant-menu-inline.ant-menu-sub.ant-menu-sub
  box-shadow: none
.page-navigation
  position: fixed
  top: 0
  left: 0
  padding-top: 50px
  height: 100%
  background-color: $menu-color
  width: 200px
  box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12)
  \:global .ant-menu-item-group-title
    font-size: 10px

.page-header
  // position: fixed
  // top: 0
  // background-color: $primary
  // color: white
  // height: 50px
  // width: 100%
  // line-height: 50px
  // z-index: 1000
  text-align: right
  padding: 0 20px
  // box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,0.3)
  // \:global .ant-select-selection
  //   background-color: inherit
  //   border: none
  //   box-shadow: none
  //   \:global .ant-select-selection-selected-value
  //     color: white
  // \:global .ant-select-arrow
  //   color: white
.page-body
  display: inline-block
  width: 100%
  height: 100%
  padding-top: 60px
  padding-left: 230px
  overflow: scroll

.logout
  margin-left: 10px
  cursor: pointer

.user
	width: 137
	height: 12
	fontSize: 12
	lineHeight: 40
	color: #005aaa

.user_select
  \:global
    .ant-select-selection.ant-select-selection--single
      border: none
    .ant-select-focused,
    .ant-select-selection,
    .ant-select-selection:focus,
    .ant-select-selection:active
      box-shadow: none
    .ant-select-selection__rendered
      border-right: none
      margin-right: 11px
