@import './base/variables.scss'
.card-form
  width: 220px
  border: 1px solid $light-grey
  display: inline-block
  margin: 0 20px
  .card-header
    background-color: lighten($primary, .9)
    border-bottom: 1px solid $light-grey
    color: white
    padding: 5px
    font: 1.5em
    text-align: center
  .card-body
    padding: 10px
    .ant-form-item-label
      text-align: left
    .ant-form-item-control-wrapper
      text-align: right
