@import './base/variables.scss'
.card-form
  width: 264px
  border: 1px solid $primary
  border-radius: 3px
  display: inline-block
  margin: 5px 10px 5px 0
  .card-header
    background-color: lighten($primary, .9)
    border-bottom: 1px solid $light-grey
    color: white
    padding: 9px 0 9px 0
    font: 1.5em
    text-align: center
  .card-body
    \:global
      .ant-form-item-label
        text-align: left
      .ant-form-item-control-wrapper
        text-align: right

.card-disabled
  color: rgba(0, 0, 0, 0.25)
  width: 264px
  border: 1px solid $light-grey
  border-radius: 3px
  display: inline-block
  margin: 5px 10px 5px 0
  .card-header
    border-bottom: 1px solid $light-grey
    background-color: #dcebfa
    padding: 9px 0 9px 0
    font: 1.5em
    text-align: center
  .card-body
    \:global
      .ant-form-item-label
        text-align: left
      .ant-form-item-control-wrapper
        text-align: right
        .ant-form-item-control
          color: rgba(0, 0, 0, 0.25)
        .ant-form-item-control .ant-input-number-input
          color: rgba(0, 0, 0, 0.25)
      .ant-form-item-control-wrapper .ant-input-group-addon
        color: rgba(0, 0, 0, 0.25)
      .ant-input-number-input[disabled]
        background: #fff
  .card-body label
    color: rgba(0, 0, 0, 0.25)
