@import "./base/variables.scss"
@import "./base/functions.scss"
@import "./base/helpers.scss"
\:global
  .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow
    right: 10% !important
  .ant-menu-inline .ant-menu-submenu-title
    padding-right: 24px !important
  html, body
    background-color: $light-grey
  #app
    height: 100%
    width: 100%
    background-color: $light-grey
  .page-wrap
    min-height: 100%
    width: 100%
    background-color: $light-grey

  .width-260
    width: 260px

  .page-section
    padding: 30px
    background-color: white
    margin-bottom: 20px
  .bottom-actions
    position: fixed
    bottom: 0
    padding-top: 15px
    padding-bottom: 15px
    z-index: 1
    margin: 0
    width: calc(100% - 245px)
    box-shadow: 2px -1px 6px 1px $light-grey

  .text-center
    text-align: center
  .text-right
    text-align: right
  .pull-left
    float: left
  .pull-right
    float: right
  .inline-block
    display: inline-block
    vertical-align: top
  .pd-l10
    padding-left: 10px
  .pd-tb10
    padding-top: 10px
    padding-bottom: 10px
  .mg-l10
    margin-left: 10px
  .mg-lr10
    margin-left: 10px
    margin-right: 10px
  .mg-b10
    margin-bottom: 10px
  .table-header
    background: #dcebfa
    text-align: center
  .ant-table-thead > tr > th
    background: #dcebfa
  .ant-table-tbody > tr > td:first-child
    border-left: 1px solid #e8e8e8
  .ant-table-tbody > tr > td:last-child
    border-right: 1px solid #e8e8e8
  .ant-table-tbody > tr:nth-child(even)
    background: #f7fbff
  .ant-radio-button-wrapper:first-child
    border-left: 1px solid $primary
  .ant-radio-button-wrapper
    color: $primary
    border: 1px solid $primary
  .ant-radio-button-wrapper-checked
    background: $primary
    color: white
