@import "./base/variables.scss"
.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow
  right: 10% !important
.ant-menu-inline .ant-menu-submenu-title
  padding-right: 24px !important
html, body
  background-color: $light-grey
#app
  height: 100%
  width: 100%
  background-color: $light-grey
.page-wrap
  min-height: 100%
  width: 100%